<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>jquery-my-new todos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="full-screen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="360-fullscreen" content="true">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="../../../source-code-study/bootstrap-3.2.0/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>

<body>
    <div class="todoapp">
        <h1>Todos</h1>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
        </div>
        <div class="checkbox">
            <input type="checkbox">
            <label for="jq-mark-complete"> Mark all as complete </label>
        </div>
        <ul class="list-group">
        </ul>
        <footer>
            <a class="clear-completed">Clear 2 completed items</a>
            <div class="todo-count"><b>3</b> items left</div>
        </footer>
    </div>
    <script scr="../../study-code/react/react-15.1.0/react.js"></script>
    <script scr="../../study-code/react/react-15.1.0/react-dom.js"></script>
    <script>
    const ESCAPE_KEY = 27;
    const ENTER_KEY = 13;

    let input = React.createClass({
        getInitialState:function () {
            return {
                newTodo: ''
            };
        },
        handleNewTodoKeyDown:function (e) {
            //是否是回车
            if (e.keyCode !== ENTER_KEY) {
                return;
            }
            e.preventDefault();
            let val = this.state.newTodo.trim();
            if (!val) {
                return;
            }
            //log
            console.log(this.refs.elInput);
            //添加
            this.props.mode.addTodo(val);
            //清空
            this.setState({newTodo:''});
        },
        handleChange:function (e) {
            this.setState({newTodo: e.target.value});
        },
        render:function () {
            return (
                     <div class="input-group input-group-lg">
                        <input type="text" className="form-control" placeholder="Username"
                            value={this.state.newTodo}
                            onKeyDown={this.handleNewTodoKeyDown}
                            onChange={this.handleChange}
                            autoFocus={true}
                            ref="elInput"
                            >
                    </div>
                )
        }
    });

    let todoItem = React.createClass({
        getInitialState: function () {
            return {editText: this.props.todo.title};
        },
        handleChange:function (e) {
            this.setState({editText:e.target.value.trim()});
        },
        handleKeyDown:function () {

        },
        handleSubmit:function () {

        },
        handleEdit:function () {
            this.setState({editing:true});
        },
        render: function () {
            return (
                    <li className={classNames({
                            'list-group-item': true,
                            edit: this.props.editing
                        })}>
                        <div className="checkbox">
                            <input type="checkbox"
                                checked={this.props.todo.completed}
                                onChange={this.props.onToggle}
                            >
                            <label onDoubleClick={this.handleEdit}>
                                {this.props.todo.title}
                            </label>
                            <span className="glyphicon glyphicon-remove" onClick={this.props.onDestroy}></span>
                        </div>
                        <div className="input-group input-group-lg">
                            <input type="text"
                                className="form-control"
                                placeholder="Username"
                                ref="elEditField"
                                value={this.state.editText}
                                onBlur={this.handleSubmit}
                                onChange={this.handleChange}
                                onKeyDown={this.handleKeyDown}
                            >
                        </div>
                    </li>
                )
        }
    });
    </script>
    <script type="text" id="jq-itemview">
        <li class="list-group-item">
            <div class="checkbox">
                <input type="checkbox">
                <label> <%- val %> </label>
                <span class="glyphicon glyphicon-remove"></span>
            </div>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" value="<%- val %>" placeholder="Username" aria-describedby="sizing-addon1">
            </div>
        </li>
    </script>
</body>
</html>
