/* background url position size repeat attachment clip orgin */
/* 保证文字垂直居中 各种不定的情况下 */
.box { height: 200px; width: 300px; background: pink; margin: 30px auto; font-size: 0; }
.box:before { content: '我是那个备胎元素'; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.text { display: inline-block; font-size: 16px; vertical-align: middle; /* 保证文字垂直居中 */ }
/* 清除浮动 */
.clearfix { clear: both; *zoom: 1; }
.clearfix:after { content: '.'; visibility: hidden; height: 0; display: block; clear: both; }
/* hide text  隐藏文字 */
.notext { overflow: hidden; text-align: left; letter-spacing: -3em; }
.notext:first-letter { margin-left: -20em; }
/* 隐藏元素 */
.hidden { display: none !important; visibility: hidden; }
/* 居中 */
.center { position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; }
/* 头部箭头 */
.top-right-arrow:after { content: ""; position: absolute; width: 52px; height: 52px; right: -2px; top: 6px; background: url('/up/dj-mobile/pushover/i/icon/top-right-arrow.png') no-repeat; background-size: 32px auto; }
/* ▍▍背景斜线▍▍▍ */
.content>p:before,
.content>p:after { position: absolute; content: ""; display: inline-block; width: 23px; height: 1em; background: url('/up/dj-mobile/pushover/i/com/slash-bg.png') left bottom no-repeat; background-size: 17px 10px; opacity: 0.4; }
.content>p:before { left: 0; top: 13px; }
.content>p:after { right: 0; bottom: 5px; }
/* →箭头 》》》》》》 */
.mian .right_center:after { position: absolute; right: -10px; top: 0; bottom: 0; margin: auto 0; content: ""; display: block; height: 6px; width: 6px; border-top: 2px solid #c6c6c6; border-right: 2px solid #c6c6c6; transform: rotate(45deg); }
/* 关闭按钮 */
.dialog_wrap .dialog_close { position: absolute; width: 30px; height: 30px; background-color: rgba(0, 0, 0, .5); border-radius: 50%; right: -10px; top: -15px; }
.dialog_wrap .dialog_close:after,
.dialog_wrap .dialog_close:before { content: ""; background-color: #FFFFFF; height: 2px; width: 25px; border-radius: 2px; position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; transform: rotate(45deg); -webkit-transform: rotate(45deg); }
/* 媒体查询 */
@media only screen and (-o-min-device-pixel-ratio:2/1), /* Opera */
only screen and (min--moz-device-pixel-ratio:2), /* Firefox 16 之前 */
only screen and (-webkit-min-device-pixel-ratio:2), /* Webkit */
only screen and (min-resolution:240dpi), /* 标准 */
only screen and (min-resolution:2dppx)                      /* 标准 */ {
    .mod .hd h3 { background-image: url(http://img02.taobaocdn.com/tps/i2/T1t9wzXlxXXXczY8cm-212-310.png); background-size: 106px 155px; }
}
@media only screen and (-webkit-min-device-pixel-ratio:1.3),only screen and (min--moz-device-pixel-ratio:1.3),only screen and (min-device-pixel-ratio:1.3),only screen and (min-resolution:200dpi)
{
	#logo{background-image: url(logo@2x.png);}
}
/* 图片 background 属性相关  裁剪  可视区域操作 */
.p1 { padding: 20px; line-height: 1; background: url(http://img1.niutuku.com/tech/1208/2506/tech-2506-lbdzlreuedi.png) no-repeat; background-origin: content-box; background-clip: content-box; }
/* 多行文本溢出显示省略号(…)全攻略 */
.text { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
/* flexbox */
.flexbox { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: -moz-box; display: flex; }
/* 文字动画  …… 点点点那种 */
.ani_dot { font-family: simsun; }
:root .ani_dot { display: inline-block; width: 1.5em; vertical-align: bottom; overflow: hidden; -webkit-animation: dot 3s infinite step-start; animation: dot 3s infinite step-start; }
@-webkit-keyframes dot {
    0% { width: 0; margin-right: 1.5em; }
    33% { width: .5em; margin-right: 1em; }
    66% { width: 1em; margin-right: .5em; }
    100% { width: 1.5em; margin-right: 0; }
}
@keyframes dot {
    0% { width: 0; margin-right: 1.5em; }
    33% { width: .5em; margin-right: 1em; }
    66% { width: 1em; margin-right: .5em; }
    100% { width: 1.5em; margin-right: 0; }
}
