#eclipse files
.project
.settings
.cache

#webstorm
.idea/
.iml
*.iml
*.tmp

# temp files
.DS_Store
Thumbs.db
Desktop.ini

#log files
.log
logs/*

#svn
.svn/*

# Vim swap files
*.swp

node_modules/
**/node_modules/
**/tempCodeRunnerFile.js
.sass-cache/
tmp-cmd/
**/obj
**/bin
**/.ntvs_analysis.dat.tmp
**/.ntvs_analysis.dat*
#**/spider/pages/
#IntellijIdea
test-index.js
test-index.html
