// Text overflow
// Requires inline-block or block for proper styling
// 元素可以设置宽度才可应用省略号
%ellipsis-basic {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}
@mixin text-overflow($width:100%) {
    @extend %ellipsis-basic;
    width: $width;
}
