html {
    background: #f7f7f7;
    overflow-x: hidden;
}
.i-header {
    height: 100px;
    overflow: hidden;
    background: url(/up/dj-mobile/pushover/i/201410/103101_01@1x.png) no-repeat 0 0;
    background-size: cover;
}
.i-header>h1 {
    color: #EB5311;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 15px  0;
    position: relative;
}
.i-header>h1:after,
.i-header>h1:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 48px;
    background-color: #EB5311;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
}
.i-header>h1:after {
    margin-left: 7px;
}
.i-header>h1:before {
    margin-left: -54px;
}
.i-header>p {
    color: #882e06;
    font-size: 15px;
    text-align: center;
    line-height: 1.5;
}
.p-corp-list dd {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #dedede;
    padding: 15px;
    position: relative;
}
.p-corp-list dd em {
    float: left;
}
.p-corp-list dd img {
    display: block;
    width: 38px;
    height: 38px;
    border: 1px solid #d3d3d3;
}
.p-corp-list dd h4 {
    color: #333;
    font-size: 1.25em;
    margin-left: 50px;
    line-height: 1;
    margin-bottom: 5px;
}
.p-corp-list dd>p {
    margin-left: 50px;
    color: #999;
    font-size: 1.1em;
}
.p-corp-list dd>div {
    margin-left: 50px;
    margin-right: 61px;
}
.p-corp-list dd>div:after {
    content: "";
    display: table;
    height: 0;
    clear: both;
}
.p-corp-list dd>div>b {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    background-color: #e0e0e0;
    padding: 3px 5px;
    white-space: nowrap;
    margin-right: 5px;
    float: left;
    margin-top: 3px;
}
.p-corp-list dd>div>b.ellipsis {
    line-height: 10px;
    font-size: 10px;
    padding-bottom: 8px;
    padding-top: 0;
}
.p-corp-list dd a,
.p-corp-list dd a:hover,
.p-corp-list dd a:visited,
.content>a,
.content>a:hover,
.content>a:visited {
    float: right;
    display: block;
    color: #009893;
    text-decoration: none;
}
.dj-base-wrap .content>a {
    font-size: 1.2em;
    line-height: 44px;
    color: #E1501A;
}
.dj-base-wrap .content>a:after {
    border-right-color: #E1501A;
    border-bottom-color: #E1501A;
}
.p-corp-list dd a:after,
.content>a:after {
    content: "";
    border-right: 2px solid #009893;
    border-bottom: 2px solid #009893;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: inline-block;
    width: 7px;
    height: 7px;
}

.p-corp-list .new:after,
.p-corp-list .hot:after,
.p-corp-list .over:after,
.p-corp-list .push:after {
    content: "";
    background: url(/up/dj-mobile/pushover/i/com/hunder-mark.png) no-repeat 0 0;
    -ms-background-size: 29px auto;
    background-size: 29px auto;
    position: absolute;
    width: 29px;
    height: 31px;
    top: -2px;
    right: 0;
}
.p-corp-list .hot:after {
    background-position: 0 -31px;
}
.p-corp-list .over:after {
    background-position: 0 -63px;
}
.p-corp-list .push:after {
    background-position: 0 -95px;
}
.p-corp-list dd:first-child:after {
    top: -1px;
}
.more {
    font-size: 1.2em;
    line-height: 1.4;
    text-align: center;
    padding-top: 12px;
    color: #838383;
    height: 30px;
    display: none;
}
.p-loading {
    background: url(/up/dj-mobile/vcard/i/loading.gif) 50% 50% no-repeat;
    -ms-background-size: 20px 20px;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}
.p-corp-list>.view,
.p-corp-list>.view:hover,
.p-corp-list>.view:visited {
    display: block;
    text-align: center;
    color: #999999;
    font-size: 15px;
    line-height: 1;
    padding-top: 25px;
    padding-bottom: 65px;
    text-decoration: none;
}
.footer-msg {
    display: block;
    color: #D5B26F;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
    background: #FFFADA;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
