<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta content="telephone=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="description" content="">
<meta name="keywords" content="">
	<link rel="stylesheet" href="../../css/reset.css">
	<link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="../../lib/zepto.js"></script>
	<script type="text/javascript" src="../main1.0.js"></script>
</head>
<body>
 <div class="swipe" id='slider'>
            <div class="swipe-wrap">
                <div index="0"><a href="javascript:"><img src="imgs/1.png" alt=""></a></div>
                <div index="1"><a href="javascript:"><img src="imgs/2.png" alt=""></a></div>
                <div index="2"><a href="javascript:"><img src="imgs/3.png" alt=""></a></div>
                <div index="3"><a href="javascript:"><img src="imgs/4.png" alt=""></a></div>
                <div index="4"><a href="javascript:"><img src="imgs/5.png" alt=""></a></div>
            </div>
          <!--    <ul class="list" id="pointList">
             <i></i>
             <li></li>
             <li ></li>
             <li></li>
             <li></li>
             <li></li>
             </ul> -->
      </div>
	<script>
		new slidePage($('#slider'));
	</script>
</body>
</html>
