// Center-align a block level element

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin trbl() {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

@mixin mask($opacity: 0.8, $zindex: 1001) {
    position: fixed;
    @include trbl;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, $opacity);
    z-index: $zindex;
}

@mixin center-abs() {
    position: absolute;
    @include trbl;
    margin: auto;
}
