<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>vue todos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<meta content="telephone=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="full-screen" content="true">
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-fullscreen" content="true">
	<meta name="360-fullscreen" content="true">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" href="../../../source-code-study/bootstrap-3.2.0/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<style type="text/css">
	.todoapp footer{
		display:block;
	}
	</style>
</head>
<body>
	<div class="todoapp">
	<!-- id=\"[^\"]+" replace all id -->
		<h1>Todos</h1>
		<div class="input-group input-group-lg">
			<input type="text" id="jq-input" class="form-control"
				autofocus autocomplete="off"
	            placeholder="What needs to be done?"
	            v-model="inputVal"
	            v-on:keyup.enter="addTodo">
		</div>
		<div class="checkbox">
			<input type="checkbox"  v-model="allDone">
			<label for="jq-mark-complete"> Mark all as complete </label>
		</div>
		<ul class="list-group" id="jq-list-group" >
			<li class="list-group-item"
			v-for="todo in filteredTodos"
            :class="{edit:todo.isEditing}"
			>
				<div class="checkbox">
					<input type="checkbox" v-model="todo.completed">
					<label @dblclick="editTodo(todo)"> {{todo.title}} </label>
					<span class="glyphicon glyphicon-remove"
					xxxxclick="removeTodo(todo)"
					@click="removeCurrTodo($index)">
					</span>
				</div>
				<div class="input-group input-group-lg">
					<input type="text" class="form-control"
						v-model="todo.title"
						v-todo-focus="todo == editedTodo"
						@blur="saveEdit(todo)"
						@keyup.enter="saveEdit(todo)"
						@keyup.esc="cancelEdit(todo)">
				</div>
			</li>
		</ul>
		<footer id="jq-footer" v-show="todos.length">
			<a class="clear-completed" id="jq-clear-completed">Clear {{completed}} completed items</a>
			<div class="todo-count" id="jq-todo-count" v-on:click="removeCompleted" v-show="todos.length > remaining" ><b>{{remaining}}</b> items left</div>
		</footer>
		<div>
			<!-- 简写和非简写同事存在，只为感受两者的差异😄 -->
	        <button v-on:click="reverseList" class="btn btn-primary">Reverse list</button>
	        <button v-on:click="removeAll" class="btn btn-primary">removeAll</button>
		</div>
	</div>
	<script type="text/javascript" src="../../../study-code/vue/lib/vue.js"></script>
	<script type="text/javascript" src="./page.js"> </script>
</body>

</html>
