html, body {
	height: 100%;
	overflow: hidden;
	position: relative;
}
section {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	overflow: hidden;
	background-color: #45B19A;
	z-index: 5;
	-webkit-transition: -webkit-transform .3s ease-out;
	-moz-transition: -webkit-transform .3s ease-out;
	-ms-transition: -webkit-transform .3s ease-out;
	-o-transition: -webkit-transform .3s ease-out;
	transition: -webkit-transform .3s ease-out;

	-webkit-transform: translate3d(0, 100%, 0);
	-moz-transform: translate3d(0, 100%, 0);
	-ms-transform: translate3d(0, 100%, 0);
	-o-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
section>h1{
	height: 50px;
	background-color: #24475E;
	text-align: center;
	position: absolute;
	top: 0;
	line-height: 50px;
	width: 100%;
	font-weight: bold;
	color: #ffffff;
}
body>section:nth-of-type(1) {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
body>section:nth-of-type(2) {
	background-color: #FF787A;
	z-index: 4;
}
body>section:nth-of-type(3) {
	background-color: #80Ac50;
	z-index: 3;
}
body>section:nth-of-type(4) {
	background-color: #A186C4;
	z-index: 2;
}
body>section:nth-of-type(5) {
	background-color: #F1754C;
	z-index: 1;
}
body>section>i {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	margin: 0 auto;
	width: 30px;
	height: 30px;
	-webkit-animation: arrowUp 2s ease infinite;
	-o-animation: arrowUp 2s ease infinite;
	-moz-animation: arrowUp 2s ease infinite;
	-ms-animation: arrowUp 2s ease infinite;
	animation: arrowUp 2s ease infinite
}
body>section>i:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	border-top: 4px solid rgba(255, 255, 255, .5);
	border-right: 4px solid rgba(255, 255, 255, .5);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
body>.moving {
	-webkit-transition: none 0 step-start;
	-o-transition: none 0 step-start;
	-moz-transition: none 0 step-start;
	-ms-transition: none 0 step-start;
	transition: none 0 step-start;
}
@-webkit-keyframes arrowUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 8px, 0);
		transform: translate3d(0, 8px, 0);
	}
	50% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -8px, 0);
		transform: translate3d(0, -8px, 0);
	}
}
@keyframes arrowUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 8px, 0);
		transform: translate3d(0, 8px, 0);
	}
	50% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, -8px, 0);
		transform: translate3d(0, -8px, 0);
	}
}
