body
{
    background: #ebeef0;
}
.cb:after
{
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '';
}
.cb
{
    *zoom: 1;
    *clear: both;
}
.header
{
    width: 1000px;
    height: 80px;
    margin: 0 auto;
    padding-top: 16px;

    color: #323d4a;
    background: url(../imgs/images/logo.png)  0 16px no-repeat;
}
.header > h1
{
    font-size: 2em;
    font-weight: 700;
    line-height: 2;

    display: inline-block;

    margin-left: 80px;
    padding-left: 12px;
}
.header > p
{
    font-size: 1.5em;

    display: inline-block;

    margin-bottom: 11px;
    margin-left: 15px;

    vertical-align: middle;

    _display: inline;
}
.header .share
{
    display: inline-block;
    float: right;

    margin-top: 25px;
}
.header .share a
{
    font-size: 0;

    display: block;
    float: left;
    overflow: hidden;

    width: 33px;
    height: 33px;
    margin-left: 5px;

    text-indent: -9999px;

    background-image: url(../imgs/images/share-btn.png);
    background-repeat: no-repeat;
}
.share .renren
{
    background-position: 0 0;
}
.share .weibo
{
    width: 34px;

    background-position: -39px 0;
}
.share .douban
{
    background-position: -79px 0;
}
.share .tencent
{
    width: 34px;

    background-position: -118px 0;
}
.share .weixin
{
    background-position: 0 0;
}
.header .hand
{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 50%;

    display: block;

    width: 154px;
    height: 222px;
    margin-left: -77px;

    text-indent: -9999px;

    background: url(../imgs/images/hand_02.png) no-repeat;
}
.section1
{
    position: relative;
    z-index: 10;

    overflow: hidden\9;

    min-width: 960px;
    margin: 135px auto 0;
    padding: 0 0 35px;
}
.section1 h1
{
    font-size: 3.5em;
    font-weight: 500;

    text-align: center;

    color: #323d4a;
}
.download-btn
{
    width: 370px;
    margin: 10px auto 0;
}
.section1 .btns
{
    float: left;

    width: 253px;
}

.android,.apple
{
    display: block;

    width: 232px;
    height: 50px;

    border-radius: 3px;
}
.android b,.apple b
{
    font-size: 1.5em;
    font-weight: normal;

    vertical-align: super;

    color: #fff;
}
.section1 .android
{
    margin-top: 12px;

    background-color: #17a5b3;
}
.section1 .apple
{
    background-color: #ef7030;
}

.btns .android i,.btns .apple i
{
    display: inline-block;

    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 14px;
}

.android i
{
    background: url(../imgs/images/android-logo_03.png) 0 0 no-repeat;
}

.apple i
{
    background: url(../imgs/images/apple-logo_03.png) 0 0 no-repeat;
}
.section1 img
{
    border-radius: 3px;
}
.map_wrap{
    background: url(../imgs/images/map.jpg) 50% 0 no-repeat;
    background-size: cover;
    position: relative;
}
.map_wrap .mask{
    background: url(../imgs/images/map_mask.png) 50% 0 no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}
.map_wrap .section {
    height: 870px;
}
.section {
    width: 960px;
    margin: 0 auto;
    position: relative;
    height: 600px;
    color: #fff;
}
.map_wrap .phone {
    left: 70px;
}
 
 .section2{
    background-color: #f07031;
    height: 600px;
    width: 100%;
    position: relative;
 }
 .section2 .section{
    padding-left: 45px;
 }
 .section2 .text{
    position: absolute;
     top: 190px;
     width: 500px;
 }
  .section2 .text>h2{
    font-size: 2em;
    font-weight: 600;
  }
   .section2 .text>p{
        line-height: 1.6;
        font-size: 1.2em;
   }
  .cat{
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
   }
     .section2 .section .cat{
background-image:url(../imgs/images/cat_1.png);
        width: 286px;
        height: 240px;
        left:30px;
        bottom: 0;
      /*   opacity:0;
      -webkit-transform:translate3D(-50%,0,0);
      -webkit-transform-origin:53% 100%;
      -moz-transform:translate3D(-50%,0,0);
      -moz-transform-origin:53% 100%; */
        opacity:1\9;
     }











.m body{
    font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
     -webkit-overflow-scrolling: touch;
     -webkit-tap-highlight-color: rgba(0,0,0,0);
}