.moving {
    -webkit-transition: none 0 step-start;
    -o-transition: none 0 step-start;
    -moz-transition: none 0 step-start;
    -ms-transition: none 0 step-start;
    transition: none 0 step-start;
}
.swipe {
    overflow: hidden;
    position: relative;
    height: 100px;
}
.swipe>.swipe-wrap>div {
    position: absolute;
    left: 0;
    top: 0;
}
.swipe>.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe>.swipe-wrap>div,
.swipe>.swipe-wrap>div a,
.swipe>.swipe-wrap,
.swipe>.swipe-wrap>div img {
    width: 100%;
    height: 100%;
}
.swipe>ul {
    position: absolute;
    bottom: 80px;
    left: 50%;
    overflow: hidden;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.swipe>ul>li,
.swipe>ul>i {
    float: left;
    width: 6px;
    height: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    margin-left: 6px;
    background-color: #ccd1da;
}
.swipe>ul>i {
    display: inline-block;
    left: 0;
    position: absolute;
    background-color: #51787b;
    box-shadow: 0 0 1px 1px #51787b;
    -webkit-transition: -webkit-transform .5s ease-out;
    -moz-transition: -webkit-transform .5s ease-out;
    -ms-transition: -webkit-transform .5s ease-out;
    -o-transition: -webkit-transform .5s ease-out;
    transition: -webkit-transform .5s ease-out;
}
.swipe>ul>li.current {
    background-color: #51787b;
}