@charset "utf-8";
/* @功能:项目下的全局样式 i-开头 */
html {
  background: #fff;
  min-height: 100%;
}

/* 顶级包裹，任何元素都应在改元素内 */
.dj-base-wrap {
}
.i-btn,
.i-btn:hover,
.i-btn:visited {
  display: block;
  height: 40px;
  line-height: 40px;
  background-color: #00b4ae;
  border: 1px solid #00b4ae;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
.i-btn:active {
  background: #009a95;
}
.i-btn-cancel,
.i-btn-cancel:hover,
.i-btn-cancel:visited {
  background-color: #ececec;
  border: 1px solid #c7c7c7;
}
.i-btn-disabled {
  background-color: #bebebe;
  border: 1px solid #bebebe;
  color: #222;
}
.i-btn-disabled,
.i-btn-disabled:hover,
.i-btn-disabled:visited,
.i-btn-disabled:active {
  background-color: #bebebe;
  border: 1px solid #bebebe;
  color: #222;
}

/* 公共表单 */
.i-form-wrap {
  padding-bottom: 30px;
  color: #2b2b2b;
}
.i-form-wrap fieldset {
  margin: 20px 0;
  padding: 0;
  border: none;
}
.i-form-wrap fieldset > p {
  font-size: 15px;
  font-weight: bold;
  line-height: 17px;
  padding: 20px 0;
}
.i-form-wrap fieldset > figure {
  color: #f60;
}
.t-flex-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
}
.t-flex-column {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}
.t-flex-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.i-form-list {
  background: #fff;
  border: solid #e1e1e1;
  border-width: 1px 0;
}
.i-form-list li {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1px;
  position: relative;
}
.i-form-list li:last-child {
  border: none;
}
.i-form-list li > span,
.i-form-list li > em {
  display: block;
}
.i-form-list li > span,
.i-form-list li > em,
.i-form-list li > div {
  height: 44px;
  line-height: 44px;
  font-size: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.i-form-list li > span {
  padding-right: 20px;
  width: 89px;
}
.i-form-list li > div {
  color: #999;
}
.i-form-list select,
.i-form-list input {
  width: 100%;
  height: 16px;
  padding: 14px 0;
  line-height: 16px;
  border: none;
  color: #000;
  font-size: 15px;
  background: transparent;
  outline: none;
}
.i-form-list select {
  height: 44px;
  line-height: 44px;
  padding: 0;
  background: transparent; /* 去掉下拉的那个箭头 */
  -webkit-appearance: none;
  appearance: none;
}
.i-form-list .select-wrap {
}
.i-form-list .select-wrap:before {
}
.i-form-list .i-textarea-wrap {
  margin-right: 20px;
  border: none;
}
.i-form-list textarea {
  display: block;
  width: 100%;
  border: none;
  -ms-border-radius: 0;
  border-radius: 0;
  -moz-resize: vertical;
  -ms-resize: vertical;
  -o-resize: vertical;
  resize: vertical;
  background-color: #f1f2f4;
  padding: 5px;
  height: 70px;
  line-height: 24px;
  color: #333;
}
.i-form-list::-webkit-input-placeholder {
  color: #d9d9d9;
}
.i-form-list .error {
  display: none;
  line-height: 24px;
  height: 24px;
  padding: 0 10px;
  color: #fff;
  background: #ec4f58;
  position: absolute;
  bottom: -14px;
  left: 0;
  z-index: 10;
  /* border-radius: 3px;
  */
}
.i-form-list .error:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #ec4f58;
  top: -3px;
  left: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  font-size: 13px;
}
.i-form-list .showError {
  display: block;
}

/* 验证码 */
.i-form-list .i-get-code {
  width: 100px;
  height: 40px;
  line-height: 40px;
  display: block;
  background: #dbefff;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin: 2px 5px 0 5px;
  text-align: center;
  color: #222;
  font-style: normal;
}
.i-form-list .i-get-code-wait {
  background: #e4e4e4;
}
.i-form-list .i-get-code-start {
  background: transparent;
  text-align: right;
  color: #00d800;
}
.i-form-list .i-get-code-past {
  background: #BEBEBE;
}

/* check 男女选择 */
.i-form-check-item input {
  display: none;
}
.i-form-check-item input:checked + label i {
  background-color: #1c7efb;
}
.i-form-check-item input:checked + label b {
  color: #2b2b2b;
}
.i-form-check-item label {
  margin-right: 30px;
}
.i-form-check-item i {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #cacaca;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #fff url(http://5.f1.dajieimg.com/n/micro_blog/T1sRdvBTCT1R4cSCrK_c.png) no-repeat;
  -ms-background-size: 100%;
  background-size: 100%;
  margin-right: 5px;
  vertical-align: middle;
}
.i-form-check-item b {
  color: #dbd9d9;
  display: inline-block;
  vertical-align: middle;
}

/* select */
.i-form-select select,
.i-form-select input.select {
  background: url(http://2.assets.dajieimg.com/up/dj-mobile/m-dajie/images/i-form-select.png) right bottom no-repeat;
  background-size: 8px auto;
  color: #000;
}
/* readonly
.i-form-list input[readonly]{
  color: #999;
}*/
