<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>validate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="form.css">
</head>
<body>
   <div class="dj-base-wrap">
    <form id="jp-form" action="#" method="post" class="i-form-wrap">
        <fieldset>
            <p>基本信息</p>
            <ul class="i-form-list">
                <li class="t-flex-wrap">
                    <span>姓名</span>
                    <div class="t-flex-item">
                        <input name="name" type="text" placeholder="请填写" />
                        <div class="error"></div>
                    </div>
                    <em class="i-get-code jp-get-code">已验证</em>
                </li>
                <li class="t-flex-wrap">
                    <span>手机</span>
                    <div class="t-flex-item">
                        <input name="mobile" type="tel" origin="13111111111" value="1311188888" placeholder="请填写" maxlength="11" />
                        <div class="error"></div>
                    </div>
                    <em class="i-get-code jp-get-code i-get-code-start">已验证</em>
                </li>
                <li class="t-flex-wrap" id="jp-code-wrap" style="display:none;">
                    <span>验证码</span>
                    <div class="t-flex-item">
                        <input name="authCode" type="text" placeholder="请输入收到的短信验证码" maxlength="6" conf-blanksubmit="true" />
                        <div class="error"></div>
                    </div>
                </li>
                <li class="t-flex-wrap i-form-check-item">
                    <span>性别</span>
                    <div class="t-flex-item">
                        <input type="radio" name="sex" id="fp-sex-01" value="0" checked="checked">
                        <label for="fp-sex-01">
                            <i></i>
                            <b>男</b>
                        </label>
                        <input type="radio" name="sex" value="1" id="fp-sex-02">
                        <label for="fp-sex-02">
                            <i></i>
                            <b>女</b>
                        </label>
                    </div>
                </li>
                <li class="t-flex-wrap">
                    <span>公司</span>
                    <div class="t-flex-item">
                        <input name="companyName" type="text" placeholder="请填写" id="jp-matchbox-input" autocomplete="off" />
                        <div class="error showError">嘿嘿额</div>
                    </div>
                </li>
                <li class="t-flex-wrap i-form-time">
                    <span>任职时间</span>
                    <div class="t-flex-item">
                        <input type="text" name="data-start" class="select" data-date="ym" placeholder="开始时间">
                        <div class="error"></div>
                    </div>
                    <em data-after="" style="display: none;">－</em>
                    <div class="t-flex-item" data-after="" style="display: none;">
                        <input type="text" name="data-end" class="select" data-date="ym" data-ignore="true" placeholder="结束时间">
                        <div class="error"></div>
                    </div>
                    <em data-checked="">
                        <input type="checkbox" checked="" id="pf-time-end" autocomplete="off" class="" style="display:none">
                        <b></b>
                        <label for="pf-time-end">目前在职</label>
                    </em>
                    <div class="error">&nbsp;</div>
                </li>
                <li class="t-flex-wrap">
                    <span>职位</span>
                    <div class="t-flex-item">
                        <input name="position" type="text" placeholder="请填写" />
                        <div class="error"></div>
                    </div>
                </li>
                <li>
                    <span>职位</span>
                    <textarea name="" placeholder="描述工作职责范围及成绩等，限400字"></textarea>
                    <div class="error"></div>
                </li>
                <li class="t-flex-wrap">
                    <span>工作经验</span>
                    <div class="t-flex-item i-form-select">
                        <select name="experience">
                            <option value="" selected>请选择</option>
                            <option value="1">10年</option>
                            <option value="3">20年</option>
                            <option value="2">30年</option>
                        </select>
                        <div class="error"></div>
                    </div>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <p>求职信息</p>
            <ul class="i-form-list">
                <li class="t-flex-wrap">
                    <span>期望职位</span>
                    <div class="t-flex-item">
                        <input name="position" type="text" placeholder="请填写" />
                        <div class="error"></div>
                    </div>
                </li>
                <li class="t-flex-wrap hide lshow">
                    <span>期望薪资</span>
                    <div class="t-flex-item select-wrap">
                        <select name="salary" id="ex_salary">
                            <option value="" selected>请选择</option>
                            <option value="1">100</option>
                            <option value="3">200</option>
                            <option value="2">300</option>
                        </select>
                        <div class="error"></div>
                    </div>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <p>选择你当前的职位状态</p>
            <ul class="i-form-list status-wrap">
                <li class="t-flex-wrap i-form-check-item">
                    <span>近作</span>
                    <div class="t-flex-item">
                        <input type="radio" name="jobstatus" id="jobstatus1" value="0" checked="checked">
                        <label for="jobstatus1">
                            <i></i>
                        </label>
                    </div>
                </li>
                <li class="t-flex-wrap i-form-check-item">
                    <span>长期</span>
                    <div class="t-flex-item">
                        <input type="radio" name="jobstatus" id="jobstatus2" value="0">
                        <label for="jobstatus2">
                            <i></i>
                        </label>
                    </div>
                </li>
            </ul>
        </fieldset>
        <!-- 这个页面记得加这个哦 -->
        <a id="jp-submit" class="i-btn p-btn " href="#">保存</a>
    </form>
</div>
<script src="../lib/zepto.js"></script>
<script src="validate.js"></script>
<script>
    var rules={
       mobile: "required",
       name: {
        required: true,
        email: true,
        rangelength:[5,10],
        range:[5,10],
        max:5,
        min:'10',
        remote:"check.php",
        requiredmsg:'必须填写',
        emailmsg:'必须是邮箱',
        errormsg:"请填写正确"
    },
    position: {
        required: true,
        minlength: 5,
        minlengthmsg:'最小长度为{0}'
    },
    companyName: {
        required: true,
        minlength: 5,
        equalTo: "#password",
        equalTomsg:"两个输入框不相等"
    }
};

$.validator({
	rules:rules
},$('#jp-form'));
/*dj['setPageData']({
            validate: {
                strBtnID: 'jp-submit',
                strFormID: 'jp-form',
                urlFormAction: '/up/dj-mobile/pushover/json/ajax-name.php?error=0',
                urlNext: '#',
                nodeType: 'div',
                item: {
                    name: {
                        reg: 'fun:name',
                        regEmpty: '请填写真实姓名',
                        url: '/up/dj-mobile/pushover/json/ajax-name.php?error=0',
                        urlPlus: 'name',
                        urlErr: '请填写真实姓名'
                    },
                    mobile: {
                        reg: 'tel',
                        regErr: '请填写真实的11位⼿手机号码',
                        url: '/up/dj-mobile/pushover/json/ajax-mobile.php?error=1',
                        urlPlus: 'mobile',
                        urlErr: '此号码已经被使⽤'
                    },
                     authCode: {
                        reg: 'fun:vrCode',
                        regErr: '填写验证码',
                        regEmpty: '填写验证码',
                        url: '/up/dj-mobile/pushover/json/ajax-code.php?error=1',
                        urlPlus: 'mobile authCode',
                        urlErr: '验证码好像不对哦'
                    },
                    companyName: {
                        reg: '^.{2,40}$',
                        regErr: '请填写有效的公司名称(2-40字)',
                        regEmpty: '请填写公司名称'  // 2014.05.12 更改
                    },
                    'data-start': {
                        reg: 'fun:i-time,work,li',
                        regErr: '请选择正确的时间',
                        regEmpty: '请选择任职时间'
                    },
                    'data-end': {
                        regEmpty: '请选择任职时间',
                        regIgnore: true
                    },
                    position: {
                        reg: '^.{2,40}$',
                        regErr: '请填写有效的职位名称(2-40字)',
                        regEmpty: '请填写你的当前职位'  // 2014.05.12 更改
                    },
                    experience: {
                        regErr: '请选择工作经验',
                        regEmpty: '请选择工作经验',
                    },
                    salary: {
                        regErr: '请选择期望薪资'
                    }
                }
            }
        });*/

</script>
</body>
</html>
