/* @base: #f938ab;
.box-shadow(@style,
@c) when (iscolor(@c)) {
	box-shadow: @style @c;
	-webkit-box-shadow: @style @c;
	-moz-box-shadow: @style @c;
}
.box-shadow(@style,
@alpha:50%) when (isnumber(@alpha)) {
	.box-shadow(@style, rgba(0, 0, 0, @alpha));
}
.box {
	color: saturate(@base,
	5%);
	border-color: lighten(@base,
	30%);
	div {
		.box-shadow(0 0 5px, 30%)
	}
}
*/
#header {
  color: #4d926f;
}
#header h1 {
  font-size: 10px;
}
#header p {
  font-size: 12px;
}
#header p a {
  text-decoration: none;
}
h2 {
  color: #4d926f;
}
/* 混合 */
#header {
  border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
}
#footer {
  border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
}
.left {
  -webkit-animation-name: left;
  -moz-animation-name: left;
  -ms-animation-name: left;
  -o-animation-name: left;
  animation-name: left;
}
/* .box-shadow-l (@x:0, @y:0, @blur:1px, @color:#000) {
	box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-webkit-box-shadow: @arguments;
}
.box-shadow-l(2px, 5px); */
/* 运算提供了加，减，乘，除操作；我们可以做属性值和颜色的运算 */
#header {
  color: #333333;
  border-left: 1px;
  border-right: 2px;
  left: 1.08333333em;
  top: 1.0833333333333333em;
}
#footer {
  color: #114411;
  border-color: #7d2717;
}
.box {
  color: #fe33ac;
  border-color: #fdcdea;
}
.box div {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
a.box:hover,
a.box:focus {
  color: #f938ab;
  text-decoration: none;
  cursor: pointer;
}
.box:empty {
  display: none;
}
.testopacity {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.test-label-variant {
  background-color: #ffffff;
}
.test-label-variant[href]:hover,
.test-label-variant[href]:focus {
  background-color: #e6e6e6;
}
.test-link,
.test-link:hover,
.test-linkactive,
.test-link:visited {
  background: #dddddd;
}
.test-num {
  z-index: 90;
}
.test {
  color: /up/dj-mobile/pushover/i/;
}
