<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="../Scripts/jquery-1.11.0.js"></script>
    <script src="../MyTemplate.js"></script>
    <title></title>
    <style>
        #List1 {
            width: 500px;
        }
            #List1 li {
                list-style-type: none;
                height: 30px;
                background-color: #00b2ff;
                margin-top: 5px;
            }
    </style>
    <script type="text/javascript">
        $(function () {
            var list = $('#List1'),
            executeRender = BearTemplate("temp1"),
            version = window.BearTemplate.vesion,
            data = [{ index: 1, name: 'xj', "js": "<script>" }, { index: 2, name: 'bear', "js": "<html>" }];
            console.log(version);
            //外部循环
            for (var i = 0, len = data.length; i < len ; i++) {
                list.append(executeRender(data[i], { Index: i + 1 }));
            }
            //一次性添加
            var result = executeRender(data, { Index: i + 1 });
            list.append(result);
        });

        function Test(index, name) {
            return "||" + index + "|" + name + "||";
        }
    </script>
</head>
<body>
    <ul id="List1"></ul>

    <script type="text/plain" id="temp1">
        <li index="{@index}"> {@name}-----{$Test(@index,@name)}-----{@Index}------{@js} </li>
    </script>

</body>
</html>
