body {
  font: 12px/1.5;
  font-size: 12px;
  line-height: 1.5; }

.border-top {
  border-top: 1px solid #ccc; }

a {
  color: #08c; }
  a:hover {
    color: #333; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.2em; }

#top_nav {
  line-height: 40px;
  text-transform: capitalize;
  background-color: #333; }
  #top_nav li {
    float: left; }
  #top_nav a {
    display: block;
    padding: 0 10px;
    color: #fff; }
    #top_nav a:hover {
      color: #ddd; }

.fakeshadow {
  border-style: solid;
  border-left-width: 4px;
  border-left-color: #888;
  border-right-width: 2px;
  border-right-color: #ccc; }

.parent-1 {
  color: #f00; }
  .parent-1 .child {
    width: 100px; }

.parent-2 {
  color: #f00; }
  .child {
    width: 200px; }

.parent-3 {
  background: #f00; }
  .child1 {
    width: 300px; }

  .child2 {
    width: 400px; }

.parent .child {
  color: #f00; }

.opacity {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.opacity-80 {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.imgtext-h li {
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px; }

.imgtext-h--product li {
  border-bottom: 1px dashed #ccc;
  padding-top: 15px;
  padding-bottom: 15px; }

.box {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 3px 3px rgba(0, 0, 0, 0.3), 0 4px 4px rgba(0, 0, 0, 0.3), 0 4px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 3px 3px rgba(0, 0, 0, 0.3), 0 4px 4px rgba(0, 0, 0, 0.3), 0 4px 4px rgba(0, 0, 0, 0.5); }

@media only screen and (max-width: 480px) {
  body {
    color: red; }

  h1 {
    font-size: 1.5em; } }
.test-textend, .speaker {
  border: 4px solid #ff9aa9; }

.speaker {
  border-width: 2px; }

#header h1 {
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

#header h1 {
  width: 300px; }

/* .ir{
  @extend %ir;
} */
.test-func {
  font-size: 1.33333rem; }

.ib {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

p {
  color: green; }

p {
  color: red; }

div {
  font-size: 14px;
  width: 300px; }

li {
  line-height: 24px; }

/* if(true, 1px, 2px) => 1px
if(false, 1px, 2px) => 2px */
.item-1 {
  width: 2em; }

.item-2 {
  width: 4em; }

.item-3 {
  width: 6em; }

.puma-icon {
  background-image: url("/images/puma.png"); }

.sea-slug-icon {
  background-image: url("/images/sea-slug.png"); }

.egret-icon {
  background-image: url("/images/egret.png"); }

.salamander-icon {
  background-image: url("/images/salamander.png"); }

.a-icon {
  background-image: url("/images/a.png"); }

.b-icon {
  background-image: url("/images/b.png"); }

.c-icon {
  background-image: url("/images/c.png"); }

.puma-icon {
  background-image: url("/images/puma.png");
  border: 2px solid black;
  cursor: default; }

.sea-slug-icon {
  background-image: url("/images/sea-slug.png");
  border: 2px solid blue;
  cursor: pointer; }

.egret-icon {
  background-image: url("/images/egret.png");
  border: 2px solid white;
  cursor: move; }

h1 {
  font-size: 2em;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: right;
  display: inline; }

h2 {
  font-size: 1.5em;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: right;
  display: inline; }

h3 {
  font-size: 1.2em;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: right;
  display: inline; }

.test-border {
  content: "";
  height: 0;
  width: 0;
  border-bottom: 50 solid #fff;
  border-left: 50 dashed transparent;
  border-right: 50 dashed transparent;
  z-index: 10; }

/*# sourceMappingURL=test.css.map */
