/* **************************** circular ********************************* */
#loading-circular,.loading-circular {
    width: 64px;
    float: left;
}
#loading-circular>div:not(:last-child),
.loading-circular>div:not(:last-child) {
    background-color: #5FB7FF;
    float: left;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-animation-name: bounce_circular;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
}
#loading-circular>div:nth-of-type(1) {
    margin-top: 25px;
    -webkit-animation-delay: .3s;
}
#loading-circular>div:nth-of-type(2){
    margin-left: -8px;
    margin-top: 9px;
    -webkit-animation-delay: .4s;
}
#loading-circular>div:nth-of-type(3) {
    margin-top: 1px;
    -webkit-animation-delay: .5s;
}
#loading-circular>div:nth-of-type(4){
    margin-left: 0;
    margin-top: 9px;
    -webkit-animation-delay: .6s;
}
#loading-circular>div:nth-of-type(5) {
    margin-left: -8px;
    margin-top: 25px;
    -webkit-animation-delay: .7s;
}
#loading-circular>div:nth-of-type(6){
    margin-left: -22px;
    margin-top: 40px;
    -webkit-animation-delay: .8s;
}
#loading-circular>div:nth-of-type(7) {
    margin-left: -37px;
    margin-top: 48px;
    -webkit-animation-delay: .9s;
}
#loading-circular>div:nth-of-type(8) {
    margin-left: -53px;
    margin-top: 41px;
    -webkit-animation-delay: 1s;
}
@-webkit-keyframes bounce_circular {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(.3);
    }
}

/* **************************** circular end ********************************* */
.loading-masklayer {
    position: fixed;
    -ms-opacity: .5;
    opacity: .5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    background-color: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    overflow-y: scroll;
}
.loadingDialog {
    position: fixed;
    bottom: auto;
    right: auto;
    display: none;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0 none;
    z-index: 1050;
    background: transparent;
}
.loadingTextClass {
    line-height: 63px;
    margin-left: 15px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    -ms-text-shadow: 2px 1px 5px #333333;
    text-shadow: 2px 1px 5px #333333;
}
